@font-face {
  font-family: 'CeraPro';
  src: url(../fonts/CeraPro-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'CeraPro';
  src: url(../fonts/CeraPro-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
